################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SampleWebApiCore/SampleWebApiCore/SampleWebApiCore/obj
/SampleWebApiCore/SampleWebApiCore/.vs/SampleWebApiCore
/SampleWebApiCore/SampleWebApiCore/SampleWebApiCore/bin/Debug/net5.0
/SampleWebApiCore/SampleWebApiCore/Infrastructure/obj
/SampleWebApiCore/SampleWebApiCore/Infrastructure/bin/Debug/net5.0
/SampleWebApiCore/SampleWebApiCore/Service/obj/Debug/net5.0
/SampleWebApiCore/SampleWebApiCore/Service.Tests/obj
/SampleWebApiCore/SampleWebApiCore/Controller.Tests/obj
/SampleWebApiCore/SampleWebApiCore/Service/bin/Debug/net5.0
/SampleWebApiCore/SampleWebApiCore/Service/obj
/SampleWebApiCore/SampleWebApiCore/Controller.Tests/bin/Debug/net6.0
/SampleWebApiCore/SampleWebApiCore/Service.Tests/bin/Debug/net6.0
